<h1>EDITANDO</h1>

<%= form_with(model: [ :admins_backoffice, @admin ], local: true) do |form| %>

    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, 
            class:"form-control reduced",
            placeholder: @admin.email  %>
    </div>
    
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, 
            class:"form-control reduced" 
        %>
    </div>

    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, 
            class:"form-control reduced" 
        %>
    </div>

    <button type="submit" class="btn btn-primary">
         Submit 
    </button>
<% end %>